@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');


* {
	margin:0;
	padding:0;
	font-family: 'Nanum Myeongjo', sans-serif;
	font-size: 14px;
	box-sizing: border-box;

	
}

body {
	background-color: #909BDA;

}

.container {
	/*background-color: #909BDA;*/
	padding: 15px;

}

header {
	padding: 30px 30px;
	text-align: center;

}

h1 {
	font-size: 30px;

	background-color: white;
	color: black;

	width: auto;
	padding: 5px 0;
	margin: auto;

}

.col h3 {
	font-family: sans-serif;
	font-weight: bold;
	margin: 10px 0 0 0;
}

.boxes {
	background-color: white;
	width: 750px;
	margin: auto;

}

.col {
	width: 700px;
	/*float:right/*;*/
	margin: 0 auto 40px auto;
	background-color: white;
	color: black;

	line-height: 2em;
	/*padding: 15px;
*/

}

.col h2 {
	/*margin: 0 0 8px 0;*/
	font-size: 20px;
	/*background-color: #EAECFA;*/
	
	color: black;
	
	margin: 0 0 10px 0;

}

.col p {
	line-height: 1.5em;
}

.boxes::after {

	content: '';
	display: table;
	clear: both;
}

.ex {
	color: red;
	font-size: 16px;
	font-style: italic;
	
}

