@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

:root {
  /* Primary */
  --dark-blue: hsl(228, 100%, 66%);
  --light-blue: hsl(228, 100%, 75%);


  --gray: hsl(228, 22%, 26%);
  --dark-gray: hsl(229, 22%, 19%);
  --light-gray: hsl(227, 13%, 52%);

  --red: hsl(0, 83%, 64%);

}

* {
	font-family: 'Kumbh Sans', sans-serif;
	color: var(--gray);

	margin: 0;
	padding: 0;
	text-align: center;
	box-sizing: border-box;

}

body {
	background: #FAFAFA;
}

h1 {
	font-size: 56px;
	line-height: 64px;
	text-align: left;
}

h2 {
	font-size: 20px;
	line-height: 28px;
	

}

h3 {
	font-size: 16px;
	line-height: 48px;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: left;

}

#body-1 {
	font-size: 18px;
	line-height: 28px;
	color: var(--light-gray);
	text-align: left;

}

#body-2 {
	font-size: 16px;
	line-height: 50px;

	

}

button {
	margin: 30px 0 0 0;
}



#hero {
	margin: 40px auto 50px auto;
	

}

#hero-text {
	text-align: left;
	width: 50%;
	float: left;

}

#hero-title {
	margin: 0 0 30px 0;

}

#hero-subtext {

}



#hero-button {

}

#hero-graphic {
	text-anchor: left;
	float: right;
	background-image: url("./assets/home/illustration-charts.svg");
	background-repeat: no-repeat;
	background-position: center;
	/*background-color: red;*/
	width: 50%;
	height: 620px;
}

#module-section {
	margin: auto;

}

.module {
	float: left;
	width: 350px;
	height: 508px;
	background-color: var(--light-gray);
	margin: 0 30px 0 0;
	padding: 43px;
	border-radius: 20px;
	background: white;

}

.module > h1 {
	text-align: center;
}

.module > h2 {
	margin: 0 0 49px 0;
}

#mod-1 {

}

#mod-2 {
	background-color: var(--dark-blue);
	color: white;
}

#mod-2 > h1{
	color: white;
}

#mod-2 > h2{
	color: white;
}

#mod-2 > #body-2{
	color: white;
}

#mod-3 {
	
}




.price-detail-mod {
	margin: 0 0 20px 0;

}


#body-mod {

}

.mod-button {

}

#mod-1-button {

}

#mod-2-button {

}

#mod-3-button {

}

#footer {
	background: var(--dark-gray);
}



.boxes::after {

	content: '';
	display: table;
	clear: both;
}















