@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=VT323&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #E9EAE5;
	color: white;
}

header{
	background: white;
	/*padding: 0 0 0 0;*/
}

header > h1 {
	color: #E9EAE5;
	text-align: center;
	font-family: VT323, sans-serif;
	font-size: 125px;
}


.scoreboard {

	width: 200px;
	height: 70px;
	margin: 110px auto 0 auto;
	color: red;
	font-size: 46px;
	font-family: VT323, sans-serif;
	text-align: center;
	position: relative;
}

.badge {
	/*background: #742B99;*/
	color: black;
	font-size: 48px;
	/*padding: 1px 5px;*/
	font-family: VT323, sans-serif;
	/*border-radius: 4px;*/
	width: 100px;
	text-align: center;

}

#user-label {
	position: absolute;
	top: -53px;
	left: 0px;
}

#computer-label {
	position: absolute;
	top: -53px;
	right: 0px;

}

#user-score {
	
	border: 2px solid black;
	padding: 10px 0 10px 0;
	/*float: left;*/
	width: 100px;
	background-color: white;
	position: absolute;
	border-right-width: 1px;
	top: 0px;
	left: 0px;
}
#comp-score {
	padding: 10px 0 10px 0;
	
	border: 2px solid black;
	border-left-width: 1px;
	/*float: right;*/
	width: 100px;
	background-color: white;
	position: absolute;
	top: 0px;
	right: 0px;
}



.result {
	font-size: 30px;
	color: black;
	/*background-color: white;*/
	width: auto;
	height: 60px;
	margin: 40px auto 20px auto;
	padding: 0 0 8px 0;



}

.result > p {
	text-align: center;
	font-family: VT323, sans-serif;
	/*font-weight: bold;*/

}

.choices {
	margin: 45px 0;
	text-align: center;
}


.choice {
	border: 2px solid black;
	border-radius: 50%;
	margin: 0 15px;
	padding: 10px;
	display: inline-block;
	transition: all .1s ease;

}
.choice:hover {
	cursor: pointer;
	background: white;

}

#action-message {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 20px;
	font-family: Playfair Display, sans-serif;
	margin-top: 20px;
}



.green-glow {
	border: 2px solid #4dcc7d;
	box-shadow: 0 0 8px #31b43a;
}

.red-glow {
	border: 2px solid #fc121b;
	box-shadow: 0 0 8px #d01116;
}

.gray-glow {
	border: 2px solid #464647;
	box-shadow: 0 0 8px #25292b;
}






